// Define variable defaults
$body-bg: rgb(255, 255, 255);
$body-color: #111;
$grid-columns:100;

// Then import Bootstrap and BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';